@model ScoreResultModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script href="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="card justify-content-md-center w-50">
        <div class="card-body">
            <h3 class="card-title">Your Score is @Model.Score</h3>
        </div>
        <div class="card-body">
            <h5>Your Cards</h5>
            <ul class="list-group list-group-flush">
                @foreach (var card in Model.Cards)
                {<li class="list-group-item">@card</li>}
            </ul>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-primary" value="Start Again" onclick="location.href='@Url.Action("Index", "CardGame")'" />
        </div>
    </div>
</body>
</html>